@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Koulen&display=swap');

*{
  font-family: 'Fira Sans', sans-serif;
}

.brandTitle{
  font-family: 'Koulen', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navActive{
@apply font-semibold text-secondary text-base hover:text-secondary hover:bg-transparent
}
.navDefault{
  @apply font-medium hover:bg-transparent text-base
}

.myBtn{
  @apply font-medium hover:bg-transparent text-base border border-primary px-3 py-1 rounded bg-primary text-white hover:bg-white hover:text-primary inline-flex items-center gap-2 transition-all duration-200
}

.inputField{
  @apply w-full lg:w-96 bg-secondary bg-opacity-30 px-7 py-5 rounded-l-full outline-none placeholder:text-white
}
.inputField2{
  @apply w-full lg:w-96 bg-secondary bg-opacity-30 px-7 py-5 border-l-2 rounded-r-full outline-none placeholder:text-white

}

.options{
  @apply flex items-center gap-4 border py-3 px-3 rounded hover:border-secondary cursor-pointer transition-all duration-200 mb-7
}
.optionActive{
  @apply flex items-center gap-4 border border-accent py-3 px-3 rounded hover:border-secondary cursor-pointer transition-all duration-200 mb-7
}